<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%=form_for(resource, as: resource_name, url: registration_path(resource_name),
                  html: {class: 'form-horizontal', style:'margin-top:20px'}) do |f| %>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">Sign Up</h2>
        </div>

      <div class='modal-body'>
        <%=devise_error_messages! %>

        <div class='form-group col-md-6'>
          <%= f.label :public_name %>
          <%= f.text_field :public_name,  :class=>'form-control', :placeholder=>'Public Name',
                           autocomplete: 'off', autofocus: true, :required=>true %>
        </div>
        <div class='form-group col-md-6 pull-right'>
          <%= f.label :full_name %><br />
          <%= f.text_field :full_name, :class=>'form-control', :placeholder=>'Full Name',
                           autocomplete: 'off' %>
        </div>
        <div class='form-group col-md-12'>
            <%= f.label :email %><br />
            <%= f.email_field :email, :type=>'email', :class=>'form-control', :placeholder=>'Enter Email',
                            :required=>true%>
        </div>

        <div class='form-group col-md-6'>
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length%>)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: 'off', :class=>'form-control',
                                 :placeholder=>'Password', :required=>true %>
        </div>

        <div class='form-group col-md-6 pull-right'>
            <%= f.label :repeat_password %><br />
            <%= f.password_field :password_confirmation, autocomplete: 'off', :class=>'form-control',
                                 :placeholder=>'Repeat Password', :required=>true%>
        </div>

      </div>

      <div class="modal-footer">
        <%= f.submit 'Sign Up', :class=>'btn btn-success'%>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  <%end%>
  </div>
</div>


<style>
  .sign-up{
      #background-color: #95b19e;
  }
</style>