<%= link_to'Back', :back%>

<div class='row'>
  <div class='col-md-5'>
    <div class='row'>
      <h1>Edit <%= resource_name.to_s.humanize %> Profile</h1>
      <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
      <i class='text-danger'>Current Password required to make any changes.</i>
    </div><br/>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: {class: 'form-horizontal', method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class='row'>
      <div class='form-group col-md-6'>
          <%= f.label :public_name %><br />
          <%= f.text_field :public_name, :class=>'form-control', :placeholder=>'Public name'%>
      </div>
      <div class='form-group col-md-6 pull-right'>
          <%= f.label :full_name %><br />
          <%= f.text_field :full_name, :class=>'form-control', :placeholder=>'Full name'%>
      </div>
    </div>

    <div class='row'>
      <div class='form-group col-md-6'>
        <%= f.label :email %><br />
        <%= f.email_field :email, :class=>'form-control', :readonly=>true%>
      </div>
      <div class='form-group col-md-6 pull-right'>
        <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
        <%= f.label :current_password %><br/>
        <%= f.password_field :current_password, :class=>'form-control', :placeholder=>'Current Password',autocomplete:'off'%>
      </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

      <div class='row'>
        <div class='form-groupcol-md-12'>
          <%= f.submit 'Update my info',:class=>'btn btn-success'%>
        </div>
      </div>
    <% end %>
  </div>

  <div class='col-md-4 change-password'>
    <div class='row pull-right'>
      <h3>Change Password</h3>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                 html: {class: 'form-horizontal', method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class='row'>
          <div class='form-group col-md-8 pull-right'>
            <%= f.label :new_password %><br />
            <%= f.password_field :password, :class=>'form-control', :placeholder=>'New Password',autocomplete: "off" %>
          </div>
          <div class='form-group col-md-8 pull-right'>
            <%= f.label :repeat_new_password%><br />
            <%= f.password_field :password_confirmation, :class=>'form-control', :placeholder=>'Repeat New Password', autocomplete: "off" %>
          </div>
        </div>

        <div class='row'>
          <div class='form-group col-md-8 pull-right'>
              <span class="glyphicon glyphicon-asterisk text-danger" aria-hidden="true"></span>
              <%= f.label :current_password %><br/>
              <%= f.password_field :current_password, :class=>'form-control', :placeholder=>'Current Password',autocomplete:'off'%>
          </div>
          <div class='row form-group col-md-8 pull-right'>
            <%= f.submit 'Change Password',:class=>'btn btn-warning form-control'%>
          </div>
        </div>
    <% end %>

  </div>
  <div class='col-md-3 text-right'>
    <div class='row col-md-12'>
      <h3>Cancel my account</h3>
      <p>Unhappy? <%=button_to 'Cancel my account', registration_path(resource_name),
                               data: { confirm:'Are you sure?'}, method: :delete,:class=>'btn btn-danger'%></p>
    </div>
  </div>
</div>

<style>
  .change-password{
      #border: solid 1px #bebebe;
      #border-radius: 25px;
  }
</style>