<%= form_for(resource, as: resource_name, url: session_path(resource_name),
             html: {class: 'form-inline pull-right', style:'margin-top:20px'}) do |f| %>
  <div class='row'>
    <div class='form-group input-group-sm'>
        <%= f.email_field :email, :class=>'form-control', :placeholder=>'Enter Email',
                          :required=>true, autofocus:true%><br/>
    </div>
    <div class='form-group input-group-sm'>
        <%= f.password_field :password, :class=>'form-control', :placeholder=>'Password',
                             :required=>true, autocomplete: 'off'%><br/>
    </div>

    <div class='form-group btn-group-sm'>
      <%= f.submit 'Log in', :class=>'btn btn-success btn-group-sm'%>
    </div>
  </div>
  <div class='row'>
    <%=render 'devise/shared/links'%>
  </div>

<% end %>