<p><strong>Location:</strong> <%=@school.address%>, <%=@school.city%>, <%=@school.state%>.</p>
<p><strong>Category:</strong> <%=@school.category%>.</p>
<p><strong>Website:</strong> <%=link_to @school.website, @school.website, :target=>'_blank'%></p>