<%= link_to 'Post a question ?', new_post_path, class:'pull-right'%><br/>

<h4>Listing all posts.
  <small><%= @posts.where(post_type_id: '1').count%> questions with <%=pluralize(@posts.where(post_type_id: '2').count, 'response')%>.</small>
</h4>

<% @posts.each_with_index  do |parent, index| %>
    <% if parent.post_type_id==1%>
        <div class='panel panel-default panel-body'>
          <b><%=parent.title %></b>
          <p class='pull-right'>
            <small><%= parent.user.public_name %>, <%=distance_of_time_in_words_to_now(parent.created_at)%> about <%= link_to parent.school.name, parent.school%></small><br>
            <%= link_to 'Show', parent, class:'btn btn-xs btn-success'%>
            <%= link_to 'Edit', edit_post_path(parent), class:'btn btn-xs btn-warning'%>
            <%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger'%>
          </p>

          <p style='color: #313131;margin-top: 10px;' class='text-justify'><%=parent.body.to_s.html_safe%></p>
          <small><%= pluralize(@posts.where(parent_id: parent.id).count,'Response')%></small>
          <a data-toggle='collapse' href="#<%=parent.id%>" aria-expanded='false' aria-controls='collapseExample' class='pull-right'>
            Respond now
          </a>
          <ul>
            <% @posts.where(parent_id: parent.id).each_with_index  do |child, index| %>
                <li class='text-justify'><%=child.body%>
                    <small><%= child.user.public_name %>, <%=distance_of_time_in_words_to_now(child.created_at)%></small><br>
                    <%= link_to 'Show', child, class:'btn btn-xs btn-success'%>
                    <%= link_to 'Edit', edit_post_path(child), class:'btn btn-xs btn-warning'%>
                    <%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger'%>
                </li>
            <%end%>
          </ul>
        </div>
    <%end%>

    <div class='collapse' id="<%=parent.id%>">
      <div class='well'>

        <!--START OF REPLY POST BLOCK-->
        <%= form_for(@new_post, html: {class: 'form-horizontal'}) do |f| %>
            <% if @new_post.errors.any? %>
                <div id='error_explanation'>
                  <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:</h2>

                  <ul>
                    <% @new_post.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class='form-group'>
              <div class='col-xs-12'><b>Your response</b><br/>
                <%=f.cktext_area :body, id: 'body'%>
              </div>
            </div>

            <%= f.hidden_field :post_type_id, value:'2'%>
            <%= f.hidden_field :parent_id, value:parent.id%>
            <%= f.hidden_field :school_id, value:parent.school.id%>

            <div class='form-group'>
              <div class='col-xs-4'><%= f.submit 'Post my response',:class=>'btn btn-success'%></div>
            </div>
        <% end %>
        <!--END OF REPLY POST BLOCK-->
      </div>
    </div>

<%end%>


<script type="text/javascript">
    $(document).ready(function(){
        CKEDITOR.config.toolbar = [
            ['Styles','Format','Font','FontSize'],['Image','Table','-','Link','Flash','Smiley','TextColor','BGColor','Source'],
            ['Bold','Italic','Underline','StrikeThrough','-','Undo','Redo','-','Cut','Copy','Paste','Find','Replace','-','Outdent','Indent','-','Print'],
            ['NumberedList','BulletedList','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock']
        ] ;
    });
</script>