<div class='col-md-4 pull-right'><h4><%=link_to 'Click to share your reviews.', new_review_path %></h4></div>

<div class='row'>
  <div class='col-md-8 text-left'>
    <h5>
      <b><%= pluralize(@reviews.size, 'Review')%></b>
    </h5>
  </div>
</div>

<table>
  <thead>

  </thead>

  <tbody>
  <%@reviews.each_with_index do |review, index|%>
    <tr>
      <td><b>#<%=index+1%></b>&nbsp;</td>
      <td><%= ((review.faculty_expertise+review.faculty_communication+review.cost_worth+
                      review.transport+review.library+review.satisfaction_rate+review.infrastructure+
                      review.sports+review.research)/9).round(1)%></td>
      <td><b><%=review.headline%></b></td>
      <td><%= review.user.public_name %></td>
    </tr>

    <tr>
      <td></td>
      <td colspan='3'>Comments : <%=review.any_comments%></td>
    </tr>
<%end%>
</tbody>

</table>
