<div class='col-md-4 pull-right'><h4><%=link_to 'Click to share your reviews.', new_review_path %></h4></div>

<div class='row'>
  <div class='col-md-8 text-left'>
    <h5><b>
      <%if @reviews.size!=0 && @reviews.size==1%>
          <%=@reviews.size%> Review
      <%end%>
      <%if @reviews.size!=0 && @reviews.size>1%>
          <%=@reviews.size%> Reviews
      <%end%>
    </b></h5>
  </div>
</div>

<%@reviews.each do |review|%>
    <tr>
      <td><%= review.faculty_expertise+review.faculty_communication+review.cost_worth+
                      review.transport+review.library+review.satisfaction_rate+review.infrastructure+
                      review.sports+review.research %></td>
      <td><b><%=review.headline%></b></td>
      <td><%= review.user.public_name %></td>
    </tr>
    <tr class='hiddenRow accordion-body collapse no-border'>
      <td></td>
      <td colspan='6'>Comments : <%=review.any_comments%></td>
    </tr>
<%end%>
