<div class='row col-md-12 pull-left' style='margin-bottom: 20px;'>
    <%= link_to 'Back', schools_path %>
    <%if can? :edit, @school%> | <%= link_to 'Edit', edit_school_path(@school)%><%end%>
</div>

<div class='row'>
  <div class='col-md-1'>
    <%= image_tag @school.school_logo_url(:thumb), style: 'outline: 1px'%>
  </div>
  <div class='col-md-9'>
    <h2><%= @school.name %> | <%=@school.aka.upcase! if @school.aka?%></h2>
    <%=@school.address%>, <%=@school.city%>, <%=@school.state%>.
    <strong>Category:</strong> <%=@school.category%>.
    Website: <%=link_to @school.website, @school.website, :target=>'_blank'%>
  </div>
  <div class='col-md-2'><p class='rating'>
    <%if @reviews.size!=0%>
    <h2 class='final-rate'><%=((@reviews.average(:faculty_expertise)+@reviews.average(:faculty_communication)+
            @reviews.average(:cost_worth)+@reviews.average(:transport)+@reviews.average(:library)+
            @reviews.average(:satisfaction_rate)+@reviews.average(:infrastructure)+
            @reviews.average(:sports)+@reviews.average(:research))/9).round(2) %></h2>
    </p>
    <%else%>
    <p class='has-warning'>No reviews.</p>
    <%end%>
  </div>
</div>

<%if @reviews.size==0%><h3>No reviews on this school. <%= link_to 'Write One?', new_review_path %></h3><%end%>

<%@reviews.each do |review| %>
    <div class='row'>
      <div class='col-md-10'>
        <h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;<%=review.headline%></h3>
        <small>Created on <i><%=review.created_at%></i></small>
      </div>
      <div class='col-md-2'>
        <h2><%=(review.faculty_expertise+review.faculty_communication+review.cost_worth+review.transport+
                review.library+review.satisfaction_rate+review.infrastructure+review.sports+review.research)/9 %>
        </h2>
      </div>
    </div>

    <div class='row'>

    </div>
<%end%>

<style>
  .final-rate{
      display: block;
      height: 60px;
      width: 60px;
      line-height: 60px;

      -moz-border-radius: 30px; /* or 50% */
      border-radius: 30px; /* or 50% */

      background-color: darkred;
      color: white;
      text-align: center;
      font-size: 2em;
  }
</style>