<%= link_to 'New Post', new_post_path, class:'pull-right btn btn-md btn-success' %>

<h3>Listing all posts.
  <small><%= @posts.where(post_type_id: '1').count%> questions with <%=pluralize(@posts.where(post_type_id: '2').count, 'response')%>.</small>
</h3>

<% @posts.each_with_index  do |parent, index| %>
    <% if parent.post_type_id==1%>
    <p>
        <b class='title'><span class='glyphicon glyphicon-question-sign'></span> <%=link_to parent.title, parent %></b>
        <p class='pull-right'>
          <%if can? :edit, @post%><%=link_to 'Edit', edit_post_path(parent), class:'btn btn-xs btn-warning'%><%end%>
          <%if can? :destroy, @post%>
              <%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger'%><br/>
          <%end%>
          <small>-by <%= parent.user.public_name %>, <%=distance_of_time_in_words_to_now(parent.created_at)%> ago</small>
        </p>
        <p>
          <small><%= pluralize(@posts.where(parent_id: parent.id).count,'Response')%>.
            <%=link_to parent.school.name, parent.school%></small>
        </p>
    </p>
    <%end%>
<%end%>

<%=will_paginate @posts%>

<style>
    .title a{color: #4d4e50;}
    .title a:hover{
        text-decoration: none;
        color: #000000;
    }
</style>