<!DOCTYPE html>
<html ng-app="studentOpinion">
    <head>
      <title>Student Opinion</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag params[:controller] %>

      <%= javascript_include_tag 'application','data-turbolinks-track'=> true %>
      <%= javascript_include_tag params[:controller]%>

      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'bootstrap'%>
      <%#script src='https://www.google.com/recaptcha/api.js'></script#%>

    </head>

<body>

<%= render 'layouts/header'%>

<div class='container body'>
  <%= render 'errors/noticeAndAlerts'%>

  <%if not user_signed_in?%>
      <h3 class='row' id='app_desc'>Your reviews & opinions help the aspirants select right schools and not fall for their advertisements</h3>
  <%end%>

  <%=yield%>
</div> <!-- End of the Container class -->

<div class='navbar text-center' id='footer' style='margin-top: 20px;'>
  <%= link_to 'Talk to us?', contact_us_path, :class => 'text-warning'%> <p class='text-success'>With &#10084; for the student community</p>
</div>
</body>
</html>