<!DOCTYPE html>
<html>
<head>
  <title>SchoolReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application','data-turbolinks-track'=> true %>
  <!--<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>-->
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller]%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'bootstrap'%>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<%= render 'shared/navigation_bar' %>
<div class="main-container" class="container-fluid">
  <div class="container container-fluid">
    <div class="row">
      <div class="container">
        <% if flash[:success] %>
            <p class="alert alert-success"><%= flash[:success] %></p>
        <% end %>
        <% if flash[:alert] %>
            <p class="alert alert-danger"><%= flash[:alert] %></p>
        <% end %>
      </div>

      <marquee class="text-danger">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Application is going through alpha/beta testing.
      </marquee>

      <%if not user_signed_in?%>
          <h4 class='row' id='app_desc'>Your reviews & opinions help the aspirants select right schools and not fall for their advertisements</h4>
      <%end%>
      <%=yield%>
    </div>
  </div> <!-- End of the Container class -->

  <div id="footer">
    <div class="container text-center">
      <%= link_to 'Talk to us?', contact_us_path, :class => 'text-warning'%> <p class='text-success'>With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> for the student community</p>
    </div>
  </div>
</div>
</body>
</html>